.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .container-outer-banner-image {
    position: relative;
    height: 15rem;
    min-width: 30rem;
    max-width: 30rem;
    user-select: none;

    * {
      pointer-events: none;
    }

    .container-inner-banner-image {
      object-fit: cover;
      object-position: 7.5% 40%;
    }
  }
}